.heading-title{
    border-radius:50px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.heading-title  > h2{
    color:#fff;
}
.message {
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}