@model Ahad_Project.Models.Schedule

@{ 
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="message shadow p-2 mb-4 mt-5" style=" background-color: #484C7F; color:white"><h2>Create Schedule</h2></div>
<div style="height:auto; width:50%; margin:auto;">

    <div class="row shadow p-5 bg-white mb-4" style="border-radius: 20px; color:white">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InterviewId" class="control-label"></label>
                    <select asp-for="InterviewId" class="form-control" asp-items="ViewBag.InterviewId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn mt=4 btn-lg w-100" style="border-radius: 10px; color: white; background-color: #484C7F;">Create Schedule</button>
                    <button asp-action="Index" class="btn btn-warning btn-lg w-100 mt-5" style="border-radius: 10px; color: white;">Back</button><button asp-action="Index" class="btn mt=4 btn-lg w-100" style="border-radius: 10px; color: white; background-color: #484C7F;">Back</button>

                </div>

            </form>
        </div>
    </div>
</div>
